section{
    margin-top: 80px;
    padding: 60px 20%;
    background-color: #203354;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}

.tarjeta{
    margin: 75px 0px;
    padding: 0px 50px;
    padding-bottom: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000033;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
}

.tarjeta-imagen{
    top: -75px;
    position: relative;
    text-align: center;
    width: 150px;
    border-radius: 100px;
    box-shadow: 0px 0px 7px black;
}

.tarjeta-contenido{
    width: 100%;
    height: 100%;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.tarjeta-contenido p{
    width: 100%;
    text-align: start;
    font-size: 1.1em;
}

.tarjeta-contenido .redes{
    width: 100%;
    display: flex;
    justify-content: center;
}

.redes img{
    width: 40px;
    margin: 0px 20px;
}


@media (max-width: 1200px) {

    section{
        padding: 50px 10%;
    }
}
@media(max-width: 700px) {

    section{
        padding: 50px 5%;
    }
}
