article{
    margin-top: 70px;
    padding: 40px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #203354;
    overflow: hidden;
}

.articulo{
    padding: 50px 0px;
    display: flex;
    align-items: center;

}

.articulo-imagen{
    width: 40%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

article img{
    width: 100%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000000aa;
}

.articulo-titulo{
    font-size: xx-large;
    text-align: center;
}

.articulo-contenido{
    width: 60%;    
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulo-boton{
    margin: 10px;
    padding: 10px 50px;
    color: #000000cc;
    background-color: #ffffffcc;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
}

.articulo-boton:hover{
    background-color: #ffffffdd;
    box-shadow: 0px 0px 8px gray;
}


.orden-reverso{
    order: 1;
}

hr{
    width: 90%;
}

.titulo{
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 1500px) {
    .articulo{
        flex-direction: column;
    }
    .articulo-imagen{
        width: 75%;
    }
    .articulo-contenido{
        width: 90%;
    }
    .orden-reverso{
        order: initial;
    }
}

@media (max-width: 1200px) {

    article{
        padding: 30px 10%;
    }
}
@media(max-width: 700px) {

    .articulo img{
        width: 100%;
    }

    article{
         margin-top: 55px;
        padding: 30px 5%;
    }
}

@media(max-width: 550px) {
    
    .articulo-titulo{
        font-size: x-large;
    }
    .articulo-cuerpo{
        font-size: small;
    }

}
