article{
    margin-top: 70px;
    padding: 50px 20%;
    background-color: #203354;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}

.contenedor-imagen{
    margin: auto;
    max-width: 100%;
    padding: 0px 10px;
}

.contenedor-imagen img{
    margin: 30px 0px;
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}

.contenedor-margen{
    margin: 30px 0;
}

.contenedor-codigo{
    margin: 0 auto;
    padding: 0px 30px;
    max-width: fit-content;
    width: auto;
    background-color: #00000033; 
    border-radius: 20px;
}

.contenedor-codigo-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-codigo-superior p{
    margin: 20px;
    font-size: 1.2em;
}

.contenedor-codigo-superior button{
    height: 30px;
    margin: 20px;
    padding: 0px 15px;
    background-color: #ffffffaa;
    border: transparent;
    border-radius: 10px;
    font-weight: 600;
}

.contenedor-codigo-superior button:hover{
    background-color: #ffffffdd;
    box-shadow: 0px 0px 8px gray;
}

pre{ 
    margin: 0 auto; 
    max-width: fit-content;
    width: auto;
    overflow: auto;
    overflow-y: hidden;
}

pre::-webkit-scrollbar {
    height: 7px;
    border-radius: 20px;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-clip: content-box;
    background: #ffffffaa;
}

p a{
    text-decoration: none;
    color: #87ceeb;
}

p a:hover{
    color: #98fb98;
}

.clase{
    color: #98fb98;
    font-weight: bold;
}

.atencion{
    color: #ebe04d;
    font-weight: bold;
    font-size: large;
}

@media (max-width: 1200px) {
    article{
        padding: 30px 10%;
    }
}

@media(max-width: 700px) {
    article{
        padding: 40px 5%;
    }
    .contenedor-codigo{
        padding: 0px 20px;
    }
}
